lxml==4.6.3
importlib_metadata==3.10.0
keyring==22.3.0
brotlipy==0.7.0
docutils==0.17
Cython==0.29.23
numpy==1.20.1
typing_extensions==3.7.4.3
pywin32==227
zipp==3.4.1
pandas==1.2.4
mypy_extensions==0.4.3
cryptography==3.4.7
beautifulsoup4==4.9.3
brotli==1.0.9
ipaddr==2.2.0
lockfile==0.12.2
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
wincertstore==0.2.1
requests==2.25.1
